
 .header

 {
   height: 100px;
   background: #f2f2f2;
 }
 
 .menu_bar
 
 {
   height: 33px;
   background: #b366ff;
 }
 
 .menu
 
 { 
   position: relative;
   width: 900px;
   background: #b366ff;
   padding: 5px 0;
   width: 50%;
   margin: 0 auto;
 }
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font: 20px Economica bold;
   color: #fff;
 }
 
 li {
   display: inline-block;
   background: #b366ff;
   margin: 0 10px;
   border: 0 2px;
 }